[wordpress-CF]
enabled = true
filter = wordpress
action = cloudflare
port = http,https
logpath = /var/log/nginx/domains/*.log
findtime = 300
bantime = 3600
maxretry = 150

[wordpress-iptables]
enabled  = true
filter   = wordpress
action   = iptables-multiport[name=NoAuthFailures, port="http,https"]
logpath  = /var/log/nginx/domains/*.log
banTime  = 3600
findtime = 300
maxRetry = 150
