[Definition]
failregex = ^<HOST> .* "POST .*wp-login.php
	        ^<HOST> .* "GET .*wp-login.php
            ^<HOST> .* "POST .*xmlrpc.php
            ^<HOST> .* "POST .*/checkout
            ^<HOST> .* "POST .*/cart
            ^<HOST> .* "GET .*/checkout
            ^<HOST> .* "GET .*/cart
ignoreregex =
